* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
header {
  grid-area: header;
  background: #CAF7E3;
  border-bottom: solid 4px #82dfce;
}
main{
  background-image: url(https://static.vecteezy.com/system/resources/previews/001/884/507/large_2x/abstract-green-water-color-background-illustration-texture-for-design-free-photo.jpg);
  background-size: cover;
  grid-area: main;
}
footer {
  grid-area: footer;
  background: #CAF7E3;
  border-top: solid 4px #82dfce;
}

#grid-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "header"
  "main"
  "footer";
}

.container-fluid a img{
  height: 80px;
}
#navbarNav{
  justify-content: space-evenly;
}
.navbar-nav{  
  display: flex;
  list-style: none;
  font-size: 1.4rem;
  font-family: "Comic Sans MS",
  sans-serif;  
}

.nav-item a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.descripcion h1 {
  padding: 2rem;
  font-size: 5rem;
  text-align: center;   
  font-family: "Caveat", cursive; 
}
.descripcion p{
  font-size: 2rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.img-portada img{
  height: 90%;
  width: 90%;
  padding: 2rem;
}
.img-portada {
  text-align: center;
}
.rubro h1{
  padding: 2rem;
  font-size: 4rem;
  text-align: center;   
  font-family: "Caveat", cursive;
}
.rubro p{
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
section article div {
  text-align: center;
}
section article div img{
  height: 20rem;
  border-top: groove 3px #82dfce;
  border-bottom: groove 3px #82dfce;
  border-left: groove 3px #82dfce;
  border-right: groove 3px #82dfce;
}
main form {
  text-align: center;
  padding: 2rem;
}
main form fieldset label {
  font-weight: bold;
}


footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer ul li {
  list-style-type: none;
  padding: 2rem;
}
footer iframe {
  width: 100%;
  height: 100%;
}



/* DESKTOP */
@media screen and (min-width: 1024px) {

.container-fluid a img{
  height: 125px;
}
.navbar-nav{  
  font-size: 2rem;  
}
.nav-item{
  margin: 2rem;
}
.descripcion h1 {
  font-size: 10rem; 
}
.descripcion p{
  font-size: 5rem;
}
.img-portada img{
  height: 60%;
  width: 70%;
}
.rubro h1{
  font-size: 8rem;
}
.rubro p{
  font-size: 2rem;
}
section article div img{
  height: 30rem;
}
main form {
  font-size: 1.5rem;
}

footer ul {
  position: absolute;
  margin-left: 18%;
  margin-top: 7%;
}
footer ul li a{
  padding: 4rem;
}

footer iframe {
  height: 30rem;
  width: 40rem;
  float: right;
}

.product-school{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.product-office{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.product-paper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

}